:root{
  background: linear-gradient(#556CB8, #54CDAE);
  min-height: 100vh;

}
.App {
  text-align: center; 
  
}

.appContainer{
  max-width: 60%;
  background-color: #ffffff33;
  border-radius: 6px;
  border: 1px solid white;
  margin: 100px auto;
  padding: 20px;
}
.searchContainer{
  display: flex;
  gap: 10px;

}
.searchContainer input{
  flex: 1;
  padding: 10px;
  border: white;
  border-radius: 5px ;
}
