:root{
  background: linear-gradient(#556CB8, #54CDAE);
  min-height: 100vh;

}
.App {
  text-align: center; 
  
}

.appContainer{
  max-width: 60%;
  background-color: #ffffff33;
  border-radius: 6px;
  border: 1px solid white;
  margin: 100px auto;
  padding: 20px;
}
.searchContainer{
  display: flex;
  gap: 10px;

}
.searchContainer input{
  flex: 1;
  padding: 10px;
  border: white;
  border-radius: 5px ;
}
.city-info-container{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.info{

  display: flex;
  flex-direction: column;
  text-align: left;
}
.degree{
  display: flex;
  gap: 10px;
  align-items: center;
}
.forecast{
  margin-top: 40px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;

}